.txt {
    &-white {
        color: white;
    }
    &-gray {
        color: #707070;
    }
    &-s {
        font-size: 0.5rem;
    }
    &-m {
        font-size: 1rem;
    }
    &-l {
        font-size: 1.5rem;
    }
    &-xl {
        font-size: 2rem;
    }
    &-xxl {
        font-size: 3rem;
    }
}

.icon {
    &-size1 {
        font-size: 1rem;
    }
    &-size2 {
        font-size: 2rem;
    }
    &-size3 {
        font-size: 3rem;
    }
    &-size4 {
        font-size: 4rem;
    }
    &-size5 {
        font-size: 5rem;
    }
    &-size6 {
        font-size: 6rem;
    }
}

.cs-bold-italic {
    font-family: counter-strikebold_italic;
}

.cs-reg {
    font-family: counter-strikeitalic;
}